.header{
    background-image: url("image/grace.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}
.shoes{
    text-align: center;
}
.simplewears{
    text-align: center;
}
.unique_skill li{
    padding-right: ;
}